#root {
  max-width: 1280px;
  width: 60%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.todo-list .list-title {
  font-weight: 700;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
}

.new-todo {
  background: #e8f8f9;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
}

.new-todo input,
.new-todo textarea {
  font-size: 15px;
  font-weight: 300;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
}

.new-todo input,
.new-todo textarea:focus {
  border: 1px solid #ccc;
  border-radius: 2px;
}

.todo-item input {
  margin-right: 5px;
}
